<div id="app_products">

  <form  method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">
        Nome do produto
      </label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
      <div id="emailHelp" class="form-text">
        Nome do produto ou categoria de produtos
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Icone</label>
      <input type="file" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Marque para ativo</label>
    </div>
    <button type="submit" class="btn btn-primary">
      Cadastrar
    </button>
  </form>

</div>