<!DOCTYPE html>
<html>
  <head>

    <title>
      <%= Rails.configuration.ambflix.app_name  %>  
    </title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <%= yield %>
    <div class="container"> OIIII </div>
  </body>
</html>
